beautifulsoup4==4.12.3
coloredlogs==15.0.1
EbookLib==0.18
flatbuffers==24.3.25
humanfriendly==10.0
lxml==5.2.1
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.17.3
packaging==24.0
piper-phonemize==1.1.0
piper-tts==1.2.0
protobuf==5.26.1
python-slugify==8.0.4
six==1.16.0
soupsieve==2.5
sympy==1.12
text-unidecode==1.3
